.Projects {
  background-color: #D8D8D8;
  padding: 20px;
  list-style: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 50px;
  font-family: TiemposFine;
  font-weight: 300;
}

.Project {
  background-color: #D8D8D8;
  color: #071C2C;
  border: 1px solid red;
  padding: 10px;
  margin: 5px;
  min-height: 60vh;
}

.Project li {
  font-size: 3em;
}

.Project p {
  width: 33%;
  font-size: 1.25em;
}

.Project a {
  /* padding: 20px; */
  text-decoration: underline;
  color: #33334d;
  font-size: 1.5em;
  font-weight: 400;
}

.Project a:hover,
.Project a:active,
.Project a.active {
  color: #908434;
}

/* @media (min-width: 1099px) {
  .Projects li {
    flex: 0 1 calc(38% - 1em);
  }
} */
