.Projects {
  padding: 20px;
  margin: auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.Projects li {
  flex: 0 1 auto;
  background: tomato;
  padding: 5px;
  width: 400px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 300px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.Projects a {
  text-decoration: none;
  color: #33334d;
  font-size: 30px;
  font-weight: 400;
}

.Projects a:hover,
.Projects a:active,
.Projects a.active {
  color: #006600;
}
