.About {
  font-family: TiemposFine;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  background-color: #071014;
  color: #fff;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 15px;
}

/* .About p {
  margin-bottom: 0;
} */

.About a {
  color: #fff;
  text-decoration: none;
}

.About a:hover,
.About a:active,
.About a.active {
  color: #908434;
}

.Hello {
  width: 50%;
  font-size: 3.5em;
  margin-left: 45px;
}

.Intro {
  width: 50%;
  font-size: 1.5rem;
  margin-left: 45px;
  overflow-wrap: break-word;
}

.ImageContainer {
  margin-left: 45px;
}
.Profile {
  /* padding-top: 5px; */
}
