.About {
  font-family: TiemposFine;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  background: #071014;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 1fr;
  justify-items: start;
  align-items: center;
  padding: 0 45px;
  margin-top: 40px;
  webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
.About a {
  color: #fff;
  text-decoration: none;
}
.About a:hover,
.About a:active,
.About a.active {
  color: #cc9933;
}

.Hello {
  display: grid;
  align-self: start;
  line-height: 1.25;
  font-size: 4rem;
}

.Intro {
  align-self: start;
  grid-column: 1;
  font-size: 1.8rem;
  overflow-wrap: break-word;
}

.ImageContainer {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  align-self: start;
}

.Profile {
  width: 100%;
}

.Social {
  display: flex;
  font-size: 1.6rem;
}
.Social ul {
  padding-bottom: 20px;
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.Social li {
  padding: 10px;
}

@media screen and (max-width: 599px) {
  .About {
    display: block;
    margin-top: 0px;
  }
  .ImageContainer {
    display: none;
  }
  .Intro {
    display: none;
  }
  .Social {
    display: block;
  }
}
