.About {
  font-family: TiemposFine;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  background-color: #071014;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: center;
  padding: 0 45px;
}

.Hello {
  padding-top: 40px;
  line-height: 1.25;
  font-size: 3.4rem;
  align-self: center;
}

.Intro {
  align-self: start;
  grid-column: 1;
  font-size: 1.6rem;
  overflow-wrap: break-word;
}

.ImageContainer {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  justify-self: center;
}

.Profile {
  width: 100%;
}

.About a {
  color: #fff;
  text-decoration: none;
}

.About a:hover,
.About a:active,
.About a.active {
  color: #cc9933;
}
