.Navbar {
  background-color: #071014;
  color: #FFF;
  /* opacity: 0.6; */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.Navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  font-family: NeueHaasUnicaPro-Bold;
}

.Navbar a {
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  font-family: NeueHaasUnicaPro;
  font-size: 1.5em;
}

.Navbar a:hover,
.Navbar a:active,
.Navbar a.active {
  color: #006600;
}
