.Navbar {
  background-color: tomato;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.Navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.Navbar a {
  padding: 10px;
  text-decoration: none;
  color: #33334d;
  font-size: 22px;
  font-weight: 400;
  /* border-right: 1px solid #eee; */
}

.Navbar a:hover,
.Navbar a:active,
.Navbar a.active {
  color: #006600;
}
