.Font {
  font-family: NeueHaasUnicaPro;
  font-weight: 300;
}

.Navbar {
  background-color: #071014;
  color: #FFF;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.Navbar ul {
  margin-bottom: 10px;
  display: flex;
  list-style: none;
  align-items: center;
}

.Navbar a {
  padding: 25px;
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
}

.Navbar a:hover,
.Navbar a:active,
.Navbar a.active {
  color: #cc9933;
}

@media screen and (max-width: 599px) {
  .Navbar {
    display: none;
  }
}
