.BlogPost {
  font-family: TiemposFine;
  font-weight: 300;
  font-size: 1.25em;
  padding: 20px;
}

.BlogPost h2 {
  font-weight: 400;
}

.BlogPost h2:after {
  content: "";
  display: block;
  padding-top: 20px;
  border-bottom: 6px solid white;
  width: 75%;
}

.BlogParagraph {
  font-size: 1em;
  line-height: 1.25;
}

.BlogPost a {
  font-family: NeueHaasUnicaPro;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.BlogPost a:hover,
.BlogPost a:active,
.BlogPost a.active {
  color: #908434;
}

.BlogPost img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}
