.BlogPost {
  font-family: NeueHaasUnicaPro;
  font-weight: 300;
  font-size: 1.25em;
  padding: 20px;
}

.BlogPost h2 {
  font-family: TiemposFine;
  font-weight: 400;
}

.BlogParagraph {
  line-height: 1.25;
}

.BlogPost a {
  color: #fff;
  text-decoration: none;
}

.BlogPost a:hover,
.BlogPost a:active,
.BlogPost a.active {
  color: #908434;
}

.BlogPost hr {
  margin-left: 5px;
  width: 66%;
  height: 20%;
}

.BlogPost img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}
