.BlogsContainer {
  /* width: 100vw;
  height: 150vh; */
  background-color: #071014;
  padding: 20px;
  margin: auto;
  list-style: none;
  display: flex;
  position: relative;
}

.BlogsContainer div {
  background-color: steelblue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid lightblue;
}

@media (min-width: 1099px) {
  .BlogsContainer div {
    flex: 0 1 calc(38% - 1em);
  }
}
