.Footer {
  background-color: #071C2C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 10em;
  border-top: 10px solid white;
}
/*
.linkedin:hover {
  color: #908434;
} */

@media screen and (max-width: 599px) {
  .Footer {
    display: flex;
    padding: 5px;
  }
}
