body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
/* inherit box-sizing from html */
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'TiemposFine';
  src: url('./fonts/TiemposFine-Light.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'TiemposFine';
  src: url('./fonts/TiemposFine-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url('./fonts/NeueHaasUnicaPro-Regular.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'NeueHaasUnicaPro';
  src: url('./fonts/NeueHaasUnicaPro-Bold.otf');
  font-style: normal;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
